* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f4f4f4;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  form {
    margin: 1rem auto;
    height: 80%;
    width: 75%;
    color: #a7a299;
    max-width: 20rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.36);
    div {
      display: flex;
      flex-direction: column;
      position: relative;
      justify-content: center;
    }
  }
  label {
    margin-top: 1.2rem;
    display: inline-block;
    position: relative;
    color: #333;
    &::after {
      content: "*";
      position: absolute;
      display: block;
      font-size: 1.2rem;
      top: -3px;
      right: -12px;
      color: red;
    }
  }

  input,
  select {
    margin-top: 0.5rem;
    background-color: #fff;
    color: #333;
    border: 2px solid rgba(172, 171, 171, 0.397);
    border-radius: 8px;
    height: 30px;
    padding: 4px;
    width: 100%;
    &:focus {
      outline: black;
    }
    &:active {
      outline: black;
    }
  }
  input {
    &[type="submit"] {
      margin: 1rem auto 0 auto;
      width: 10rem;
      height: 2rem;
      &:hover {
        background: linear-gradient(to bottom, #e7e7e7 5%, #ffffff 100%);
      }
    }
    &[type="time"]::-webkit-calendar-picker-indicator {
      background: transparent;
    }
  }
  svg {
    position: absolute;
    bottom: -8px;
    right: 15px;
    width: 24px;
    height: 24px;
    pointer-events: none;
    transform: translate(50%, -50%);
    stroke: #333;
  }

  p {
    margin-top: 0.5rem;
    height: 1.5rem;
    color: #333;
    span {
      color: red;
    }
  }
  .responseStatus {
    position: block;
    height: 70px;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;
    padding: 4px;
    opacity: 1;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .success {
    background-image: url("./assets/check.png");
    opacity: 1;
    animation: responseStatus 1s linear 3s;
    animation-fill-mode: forwards;
  }
  .error {
    background-image: url("./assets/remove.png");
    opacity: 1;
    animation: responseStatus 1s linear 3s;
    animation-fill-mode: forwards;
  }
  .pending {
    background-image: url("./assets/loading.png");
    animation: rotate 1.5s linear;
    animation-iteration-count: infinite;
  }
}

@keyframes responseStatus {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
